.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100vh;
  background: var(--color-bg-sidebar);
}

.layout-content {
  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 0;
}
